{% if page.meta.comments %}
  <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  <div class="giscus"></div>

  <!-- Synchronize Giscus theme with palette -->
  <script>
    (function () {
      function getTheme() {
        const palette = __md_get('__palette')
        if (palette && typeof palette.color === 'object' && palette.color.media) {
          const match = palette.color.media.match(/\(prefers-color-scheme:\s*(\w+)\)/)
          if (match) {
            return match[1] === 'dark' ? 'transparent_dark' : 'light'
          }
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'transparent_dark' : 'light'
      }

      // Create Giscus script element
      const giscus = document.createElement('script')
      giscus.src = 'https://giscus.app/client.js'
      giscus.setAttribute('data-repo', 'vibyird/notes')
      giscus.setAttribute('data-repo-id', 'R_kgDOPFd2vg')
      giscus.setAttribute('data-category', 'Announcements')
      giscus.setAttribute('data-category-id', 'DIC_kwDOPFd2vs4Csa0I')
      giscus.setAttribute('data-mapping', 'og:title')
      giscus.setAttribute('data-strict', '0')
      giscus.setAttribute('data-reactions-enabled', '1')
      giscus.setAttribute('data-emit-metadata', '0')
      giscus.setAttribute('data-input-position', 'bottom')
      giscus.setAttribute('data-theme', getTheme())
      giscus.setAttribute('data-lang', 'zh-CN')
      giscus.crossOrigin = 'anonymous'
      giscus.async = true
      document.currentScript.insertAdjacentElement('afterend', giscus)
    })()
  </script>
{% endif %}
